<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First News App</title>
</head>
<body>
    <h1>One Week of Baltimore 911 Overdose Calls</h1>
    <table border=1 cellpadding=7>
        <tr>
            <th>Call Number</th>
            <th>Date</th>
            <th>Time</th>
            <th>Location</th>
            <th>Neighborhood</th>
        </tr>
        {% for obj in object_list %}
        <tr>
            <td><a href="{{ obj.callNumber }}/">{{ obj.callNumber }}</a></td>
            <td>{{ obj.date }}</td>
            <td>{{ obj.time }}</td>
            <td>{{ obj.location }}</td>
            <td>{{ obj.Neighborhood }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>